:root {
  --cst-dark-blue: #27374d;
  --cst-blue-grey: #526d82;
  --cst-grey: #9db2bf;
  --cst-light-grey: #dde6ed;
  --cst-light-brown: #f1efec;
  --cst-palette2-1: #edede9;
  --cst-palette2-2: #d6ccc2;
  --cst-palette2-3: #f5ebe0;
  --cst-palette2-4: #e3d5ca;
  --cst-palette2-5: #d5bdaf;
  --cst-palette2-6: #865d26;
  --cst-palette2-7: #d35746;
}
