:root {
  --cst-palette2-1: #edede9;
  --cst-palette2-2: #d6ccc2;
  --cst-palette2-3: #f5ebe0;
  --cst-palette2-4: #e3d5ca;
  --cst-palette2-5: #d5bdaf;
  --cst-palette2-6: #865d26;
  --cst-palette2-7: #d35746;
  --cst-palette2-black: #000000;
  --cst-palette2-gray: #6c757d;
}
