/* Globals */
.app-globals {
  background-color: var(--cst-palette2-3);
  min-height: 100vh;
}

h3 {
  color: var(--cst-palette2-6);
}

.cst-h-4 {
  height: 3em;
}

/* Fitting */
.cst-fit-height {
  height: 100%;
  object-fit: contain;
}

.cst-fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cst-fit-80 {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.cst-home-content {
  background-color: var(--cst-palette2-4);
  border-top: 0.2rem solid var(--cst-palette2-2);
}

/* Buttons */
.cst-read-more-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: 2px solid black;
  background-color: var(--cst-palette2-4);
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.cst-read-more-btn:hover {
  background-color: var(--cst-palette2-5);
}

/* Pills */
.cst-pills-container {
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cst-pill {
  background-color: var(--cst-palette2-3);
  border-radius: 0.8rem;
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Para dispositivos que soportan hover */
@media (hover: hover) {
  .cst-pill:hover {
    transform: translateY(-5px);
    background-color: var(--cst-palette2-5);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .cst-pill h3 {
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
  }

  .cst-pill h3::after {
    content: '→';
    position: absolute;
    right: 0px;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .cst-pill:hover h3::after {
    opacity: 1;
    right: -10px;
  }
}

/* Para dispositivos táctiles */
@media (hover: none) {
  .cst-pill {
    position: relative;
    overflow: hidden;
  }

  .cst-pill:active {
    transform: translateY(-5px);
    background-color: var(--cst-palette2-5);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .cst-pill h3 {
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
  }

  .cst-pill h3::after {
    content: '→';
    position: absolute;
    right: -10px;
    top: 0;
    opacity: 1;
  }

  /* Efecto visual para indicar que es interactivo */
  .cst-pill::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .cst-pill:active::before {
    opacity: 1;
  }
}

.cst-pill p {
  flex-grow: 1;
  margin-bottom: 1rem;
}
